In [2]:
import numpy as np

import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [15]:
dates = pd.date_range("20330101", periods=16)
dates

DatetimeIndex(['2033-01-01', '2033-01-02', '2033-01-03', '2033-01-04',
               '2033-01-05', '2033-01-06', '2033-01-07', '2033-01-08',
               '2033-01-09', '2033-01-10', '2033-01-11', '2033-01-12',
               '2033-01-13', '2033-01-14', '2033-01-15', '2033-01-16'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df = pd.DataFrame(np.random.randn(16, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2033-01-01 -0.104600 -1.748236  1.105930  2.682449
2033-01-02 -0.683005  1.849798 -0.559899 -0.597642
2033-01-03 -2.153477 -0.749604 -0.324416 -0.045316
2033-01-04  0.586961  1.425271 -0.375255 -0.296938
2033-01-05 -1.899986 -0.884268  0.683969 -0.285667
2033-01-06  2.184235  0.093238 -1.507522  1.812407
2033-01-07 -0.495306  0.318597  0.439985 -0.713424
2033-01-08  0.386044  0.114920  0.819761 -1.067826
2033-01-09 -0.378067  0.166149 -1.709152 -2.409683
2033-01-10 -1.347706 -0.894321 -1.142834  1.239581
2033-01-11 -1.672609  0.144545 -1.498379  2.074806
2033-01-12 -1.300111 -1.457880  0.434907  0.383788
2033-01-13  1.566742  0.145094 -0.573864  0.292271
2033-01-14  1.604866  0.767859 -0.209732 -1.251371
2033-01-15 -0.705704 -0.404162  0.304977  0.443046
2033-01-16  0.924382  1.304043 -1.041332 -1.162691

In [ ]:
# dictinory
dict = {'umair': 20, 'ali': 22, 'ahmed': 19}

In [17]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo