# How to import dataset in python using pandas library 
written by: Dr. Ammar Tufail\
Date: 03-01-2026\
Email: info@codanics.com

In [2]:
# step 1:
# importing libraries
import pandas as pd

In [ ]:
# step 2:
# reading and importing datasets
df = pd.read_excel("pandas_01_day6.xlsx")

In [11]:
print(df)

   Height Weight Favourite Dish
0     5.8    101  Chicken Pulao
1     6.2     92        Biryani
2     5.9     62  Karahi Ghosht
3     5.9     95  Chicken Pulao
4     5.9     55  Chicken Pulao
..    ...    ...            ...
82    5.4     55          Pasta
83    5.9   75KG  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

[87 rows x 3 columns]

In [15]:
df.head()

  Height Weight Favourite Dish
0    5.8    101  Chicken Pulao
1    6.2     92        Biryani
2    5.9     62  Karahi Ghosht
3    5.9     95  Chicken Pulao
4    5.9     55  Chicken Pulao

In [16]:
df.tail()

   Height Weight Favourite Dish
82    5.4     55          Pasta
83    5.9   75KG  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

In [17]:
df.columns

Index(['Height', 'Weight', 'Favourite Dish'], dtype='object')

In [18]:
df.shape

(87, 3)

In [19]:
df.head(10)

  Height Weight Favourite Dish
0    5.8    101  Chicken Pulao
1    6.2     92        Biryani
2    5.9     62  Karahi Ghosht
3    5.9     95  Chicken Pulao
4    5.9     55  Chicken Pulao
5    5.3     59        Biryani
6    5.6     50          Pasta
7    5.9     76        Biryani
8    5.1     78        Biryani
9    5.4     68        Biryani

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     object
 1   Weight          87 non-null     object
 2   Favourite Dish  87 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB